SERIAL_PORT=/dev/ttyACM0
SERIAL_BAUD=38400
MQTT_URL=mqtt://192.168.88.149:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=sentai
MQTT_VISION_TOPIC=sentai/vision
MQTT_TEXT_TOPIC=sentai/text
MQTT_RAW_TOPIC=sentai/raw
MQTT_STATUS_TOPIC=sentai/status
MQTT_AVAILABILITY_TOPIC=sentai/availability
SPOOL_ROOT=./spool
FORWARD_RAW_BASE64=true
