MAVLINK_TCP_HOST=127.0.0.1
MAVLINK_TCP_PORT=5760
MQTT_URL=mqtt://192.168.88.149:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_VISION_TOPIC=sentai/vision
MQTT_TEXT_TOPIC=sentai/text
MQTT_RAW_TOPIC=sentai/raw
MQTT_STATUS_TOPIC=sentai/status
MQTT_AVAILABILITY_TOPIC=sentai/availability
SPOOL_ROOT=./spool
FORWARD_RAW_BASE64=true
